.balance .main_block .payment_method {
  margin: 30px 0 0 180px;
}

.balance .main_block .payment_method .btn_method {
  outline: none;
  border: none;
  border-radius: 20px;
  background: #f1f4ff;
  padding: 15px 20px 15px 20px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  font-size: 20px;
  margin-bottom: 30px;
}

.balance .main_block .payment_method .payment_method-cards {
  display: flex;
  align-items: center;
  gap: 0 30px;
}

.balance .main_block .payment_method .payment_method-cards .card {
  background: url(../img/card_backgroud.png);
  width: 382px;
  height: 218px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
}

.balance .main_block .payment_method .payment_method-cards .card .card_header {
  display: flex;
  align-items: center;
  gap: 0 111px;
  margin-bottom: 60px;
}

.balance .main_block .payment_method .payment_method-cards .card .card_header .card_balance p {
  color: #fff;
  font-size: 18px;
}

.balance .main_block .payment_method .payment_method-cards .card .card_header .card_balance p span {
  opacity: 60%;
}

.balance .main_block .payment_method .payment_method-cards .card .card_main {
  display: flex;
  align-items: center;
  gap: 0 38px;
  margin-bottom: 24px;
}

.balance .main_block .payment_method .payment_method-cards .card .card_main .card_number {
  font-size: 24px;
  gap: 0 6px;
  color: #fff;
  display: flex;
  align-items: center;
}

.balance .main_block .payment_method .payment_method-cards .card .card_main .card_date {
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 4px 0;
}

.balance .main_block .payment_method .payment_method-cards .card .card_main .card_date span {
  font-size: 12px;
  opacity: 60%;
}

.balance .main_block .payment_method .payment_method-cards .card .card_main .card_date p {
  font-size: 14px;
}

.balance .main_block .payment_method .payment_method-cards .card .card_footer {
  display: flex;
  align-items: flex-start;
  color: #fff;
  gap: 0 200px;
  font-size: 14px;
}

.balance .main_block .payment_method .payment_method-cards .add_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f1f4ff;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
  width: 218px;
  height: 218px;
  border-radius: 20px;
}

.balance .main_block .private_balance {
  margin-left: 180px;
}

.balance .main_block .private_balance .private_balance-btn {
  display: flex;
  align-items: center;
  gap: 0 30px;
  margin: 30px 0;
}

.balance .main_block .private_balance .private_balance-btn .btn_balance {
  background: #f1f4ff;
  color: #000;
}

.balance .main_block .private_balance .private_balance-btn .btn_refill {
  color: #fff;
  background: linear-gradient(90deg, #70a9ff 0%, #316ec9 57%, #0149b4 100%);
}

.balance .main_block .private_balance .private_balance-btn .btn_withdraw {
  color: #fff;
  background: linear-gradient(90deg, #70a9ff 0%, #316ec9 57%, #0149b4 100%);
}

.balance .main_block .private_balance .private_balance-btn .btn_3 {
  outline: none;
  border: none;
  font-size: 20px;
  border-radius: 20px;
  padding: 15px 20px 15px 20px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

.balance .main_block .private_balance .card_balance {
  width: 382px;
  height: 218px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 20px;
  background: #f1f4ff;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
}

.balance .main_block .private_balance .card_balance span {
  color: #434343;
  font-size: 24px;
  margin-top: 28px;
  padding-left: 28px;
}

.balance .main_block .private_balance .card_balance p {
  font-size: 48px;
  margin-top: 66px;
  padding-left: 28px;
}

.balance .main_block .history_payment {
  margin-left: 180px;
  margin: 50px 0 0 180px;
}

.balance .main_block .history_payment .history_payment-btn {
  margin-bottom: 30px;
}

.balance .main_block .history_payment .history_payment-btn .btn_4 {
  background: #f1f4ff;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  border: none;
  padding: 15px 20px 15px 20px;
  outline: none;
  color: #000;
}

.balance .main_block .history_payment .history_payment-list {
  border-radius: 20px;
  background: #f1f4ff;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
}

.balance .main_block .history_payment .history_payment-list .payment_list-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.balance .main_block .history_payment .history_payment-list .payment_list-head p {
  color: #434343;
}

.balance .main_block .history_payment .history_payment-list .payment_list-head .list_other {
  display: flex;
  align-items: center;
  gap: 0 105px;
}

.balance .main_block .history_payment .history_payment-list .two_items {
  display: flex;
  align-items: center;
  gap: 0 100px;
}

.balance .main_block .history_payment .history_payment-list .payment_list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.balance .main_block .history_payment .history_payment-list .payment_list-item .list_other {
  display: flex;
  align-items: center;
  gap: 0 55px;
}

.balance .main_block .history_payment .history_payment-list .payment_list-item .list_other .status_travel {
  border-radius: 20px;
  background: #d8e1ff;
  color: #2e65f3;
  padding: 5px 20px 5px 20px;
  text-align: center;
}

.balance .main_block .history_payment .history_payment-list .payment_list-item .list_other .status_succes {
  border-radius: 20px;
  color: #0faf62;
  background: #dde4ba;
  padding: 5px 20px 5px 20px;
  text-align: center;
}

.balance .main_block .history_payment .history_payment-list .payment_list-item .two_items {
  display: flex;
  align-items: center;
  gap: 0 60px;
}

.balance .user_background {
  background: url(../img/profile_background.png);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  max-width: 950px;
  z-index: -1;
  max-height: 525px;
  right: 0;
}
