* {
    margin: 0;
}
body {
    background: #0a0a0a;
}
@font-face {
    font-family: "DM Sans", sans-serif;
    src: url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
    font-style: normal;
}
@font-face {
    font-family: "Public Sans", sans-serif;
    src: url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

    font-style: normal;
}

// mangaer page
.manager_view,
.users,
.media,
.offering,
.balance,
.support,
.profile_view {
    height: 100%;
    display: flex;
    .aside_nav {
        background: #0e1218;
        width: 100%;
        max-width: 295px;

        padding-top: 20px;
        .aside_nav-logo {
            display: flex;
            gap: 0 10px;
            align-items: center;
            justify-content: center;
            box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.22);
            border-radius: 20px;
            padding: 15px 20px 15px 20px;
            margin: 0 20px 38px 20px;
            & h3 {
                font-size: 28px;
                font-weight: 500;
                color: #fff;
                font-family: "DM Sans", sans-serif;
            }
        }
        .aside_nav-lsit {
            display: flex;
            flex-direction: column;
            margin: 0 20px;
            gap: 12px 0;
            max-width: 255px;
            a {
                text-decoration: none;
            }
            .list_item {
                list-style-type: none;
                padding: 20px;
                display: flex;
                align-items: center;
                gap: 0 10px;
                justify-content: center;
                color: #e1e1e1;
                transition: 0.3s all;
                font-family: "Public Sans", sans-serif;

                &:active {
                    transform: scale(0.95);
                }
            }
            .active {
                color: #302eff;
            }
        }
    }
    .select_page {
        background: rgba(14, 18, 24, 1);
        padding: 20px 0;
        width: 100%;
        margin: 5px 0;
        display: none;
        justify-content: center;
        align-items: center;
        gap: 0 10px;
        & p {
            color: #fff;
            font-size: 16px;
            font-family: "Public Sans", sans-serif;
        }
    }
    .name_page {
        display: none;
        margin: 24px 0 0 31px;
        & h1 {
            background: linear-gradient(90deg, #e5f0ff 0%, #769bfe 51%, #302dff 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
            font-size: 51px;
            font-family: "DM Sans", sans-serif;
        }
    }
    .aside_nav-mobile {
        display: none;
    }
    .bottom_support {
        display: none;
    }
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.3s;
        padding-top: 60px;

        .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
        }
        .aside_nav-lsit {
            display: flex;
            flex-direction: column;
            margin: 0 20px;
            gap: 12px 0;
            max-width: 255px;
            a {
                text-decoration: none;
            }
            .list_item {
                list-style-type: none;
                padding: 20px;
                display: flex;
                align-items: center;
                gap: 0 10px;
                justify-content: center;
                color: #e1e1e1;
                transition: 0.3s all;
                font-family: "Public Sans", sans-serif;

                &:active {
                    transform: scale(0.95);
                }
            }
            .active {
                color: #302eff;
            }
        }
    }
    .main_block {
        display: flex;
        flex-direction: column;
        width: 100%;
        .header_nav {
            display: flex;
            gap: 0 20px;
            margin: 20px 0 0 40px;
            .header_nav-card {
                width: clamp(180px, 100%, 375px);

                height: 108px;

                border-radius: 10px;
                background: #0e1218;

                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                & span {
                    margin-left: 35px;
                    font-size: 24px;
                    color: #fff;
                    font-family: "DM Sans", sans-serif;
                }
                & p {
                    margin-left: 26px;
                    font-size: 32px;
                    font-weight: 600;
                    color: #fff;
                    font-family: "DM Sans", sans-serif;
                }
                &:nth-child(1) {
                    border-bottom: 9px solid #423efc;
                }
                &:nth-child(2) {
                    border-bottom: 9px solid #f6d423;
                }
                &:nth-child(3) {
                    border-bottom: 9px solid #7c57f4;
                }
                &:nth-child(4) {
                    border-bottom: 9px solid #36393e;
                }
                &:nth-child(5) {
                    border-bottom: 9px solid rgba(255, 122, 0, 1);
                }
            }
        }
        .user_list-mobile,
        .media_list-mobile {
            display: none;
            .user_list-header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 0 63px 25px 34px;
                & h3 {
                    background: linear-gradient(90deg, #e5f0ff 0%, #81a4fe 50%, #3433ff 100%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                    text-fill-color: transparent;
                    font-size: 51px;
                    font-family: "DM Sans", sans-serif;
                }
            }
            // .user_list {
            // display: flex;
            // gap: 0 10px;
            // position: relative;
            // overflow-x: scroll;
            // margin: 0 10px;

            .is_active {
                transform: scale(1.5) !important;
            }

            .card {
                display: flex;
                flex-direction: column;
                background: rgba(14, 18, 24, 1);
                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
                border-radius: 20px;
                max-width: 615px;
                padding: 20px;
                width: 100%;
                height: 100%;
                margin: 0 auto;
                .card_head {
                    color: #fff;
                    .head_item {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                    }
                }
                .card_body {
                    .card_body-list {
                        display: flex;
                        flex-direction: column;
                        gap: 20px 0;
                        color: #fff;
                        font-family: "DM Sans", sans-serif;
                    }
                }
                .card_footer {
                    color: #fff;
                    & p{
                        font-size: 20px;
                    }
                    .card_footer-btn {
                        display: flex;
                        align-items: center;
                        gap: 0 14px;
                        margin-top: 10px;
                        .btn_2 {
                            background: rgba(24, 26, 30, 1);
                            box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
                            border-radius: 31px;
                            outline: none;
                            color: #fff;
                            border: none;
                            padding: 12px 20px;
                        }
                        .active {
                            background: rgba(51, 52, 255, 1);
                        }
                    }
                }
            }
            // }
        }
        .user {
            display: flex;

            margin: 40px 0 31px 40px;
            gap: 0 28px;
            .user_info {
                background: #0e1218;
                max-width: 628px;
                border-radius: 20px;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                .user_info-list {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 14px 0;
                    padding: 45px 0 44px 30px;
                    .list_item {
                        display: flex;
                        align-items: center;
                        color: #fff;
                        gap: 0 26px;
                        & p,
                        span {
                            font-size: 24px;
                            font-family: "DM Sans", sans-serif;
                            font-weight: 500;
                        }
                    }
                }
                .user_avatar {
                    padding: 35px 0 0 70px;
                    width: 138px;
                    height: 138px;
                }
                .user_btn {
                    display: flex;
                    align-items: center;
                    gap: 0 20px;
                    padding: 0 0 52px 27px;
                    .btn_1 {
                        color: #fff;
                        outline: none;
                        border: 1px solid #302eff;
                        background: #302eff;
                        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
                        border-radius: 20px;
                        padding: 11px 20px;
                        font-size: 16px;
                        font-family: "Public Sans", sans-serif;
                    }
                }
            }
            .user_static {
                background: #0e1218;
                border-radius: 20px;
                max-width: 907px;
                width: 100%;
                border-bottom: 10px solid rgba(51, 52, 255, 1);
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                gap: 44px 0;
                .list_static {
                    position: relative;
                    color: #fff;
                    width: 100%;
                    & p {
                        padding-left: 27px;
                        font-family: "DM Sans", sans-serif;
                        font-size: 24px;
                        font-weight: 700;
                        position: relative;
                        z-index: 2;
                    }
                    &::before {
                        content: "";
                        position: absolute;
                        background: rgba(81, 80, 80, 0.5);
                        height: 2px;
                        top: 50%;
                        width: 100%;
                        z-index: 2;
                    }
                    &:nth-child(1) {
                        z-index: 1;
                        &::after {
                            content: "";
                            position: absolute;
                            background: linear-gradient(0.04deg, rgba(66, 62, 252, 0) 0.03%, #423efc 99.97%);
                            width: 57%;
                            top: -40%;
                            height: 50px;
                            z-index: 1;
                        }
                    }
                    &:nth-child(2) {
                        z-index: 1;
                        &::after {
                            content: "";
                            position: absolute;
                            background: linear-gradient(0deg, rgba(246, 212, 35, 0) 0%, #f6d423 100%);
                            width: 83%;
                            top: -40%;
                            height: 50px;
                            z-index: 1;
                        }
                    }
                    &:nth-child(3) {
                        z-index: 1;
                        &::after {
                            content: "";
                            position: absolute;
                            background: linear-gradient(359.99deg, rgba(125, 88, 246, 0) 0.01%, #7d58f6 99.99%);
                            width: 63%;
                            top: -40%;
                            height: 50px;
                            z-index: 1;
                        }
                    }
                    &:nth-child(4) {
                        z-index: 1;
                        &::after {
                            content: "";
                            position: absolute;
                            background: linear-gradient(359.96deg, rgba(54, 57, 61, 0) 0.04%, #36393d 99.96%);
                            width: 41%;
                            top: -40%;
                            height: 50px;
                            z-index: 1;
                        }
                    }
                }
            }
        }
        .users_list {
            background: rgba(24, 26, 30, 1);
            border-radius: 20px;
            margin: 0 20px 0 42px;
            .users_list-head {
                display: flex;
                align-items: center;
                justify-content: space-between;
                background: rgba(14, 18, 24, 1);
                border-radius: 20px 20px 0px 0px;
                padding: 20px 20px 20px 20px;
                color: #ffff;
                .two_item {
                    display: flex;
                    align-items: center;
                    gap: 0 145px;
                }
                .list-head-other {
                    display: flex;
                    align-items: center;
                    gap: 0 64px;
                    .other_item {
                        display: flex;
                        align-items: center;
                        gap: 0 10px;
                    }
                }
                .item {
                    display: flex;
                    align-items: center;
                    gap: 0 10px;
                }
                & P {
                    font-size: 20px;
                    font-family: "Public Sans", sans-serif;
                }
            }
            .list {
                display: flex;
                flex-direction: column;

                .list_item {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 20px 16px 20px 30px;
                    color: #ffff;
                    .two_item {
                        display: flex;
                        align-items: center;
                        gap: 0 115px;
                    }
                    .list_item-other {
                        display: flex;
                        align-items: center;
                        gap: 0 120px;
                        .list-other-status {
                            display: flex;
                            align-items: center;
                            gap: 0 26px;
                        }
                    }
                    .list_item-email {
                        // margin-left: -100px;
                    }
                    .list_item-uid {
                        display: flex;
                        align-items: center;
                        gap: 0 20px;
                    }
                    & P {
                        font-size: 20px;
                        font-family: "Public Sans", sans-serif;
                    }
                }
            }
        }
    }
}
