* {
  margin: 0;
}

body {
  background: #0a0a0a;
}

@font-face {
  font-family: "DM Sans", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
  font-style: normal;
}

@font-face {
  font-family: "Public Sans", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
  font-style: normal;
}

.manager_view,
.users,
.media,
.offering,
.balance,
.support,
.profile_view {
  height: 100%;
  display: flex;
}

.manager_view .aside_nav,
.users .aside_nav,
.media .aside_nav,
.offering .aside_nav,
.balance .aside_nav,
.support .aside_nav,
.profile_view .aside_nav {
  background: #0e1218;
  width: 100%;
  max-width: 295px;
  padding-top: 20px;
}

.manager_view .aside_nav .aside_nav-logo,
.users .aside_nav .aside_nav-logo,
.media .aside_nav .aside_nav-logo,
.offering .aside_nav .aside_nav-logo,
.balance .aside_nav .aside_nav-logo,
.support .aside_nav .aside_nav-logo,
.profile_view .aside_nav .aside_nav-logo {
  display: flex;
  gap: 0 10px;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.22);
  border-radius: 20px;
  padding: 15px 20px 15px 20px;
  margin: 0 20px 38px 20px;
}

.manager_view .aside_nav .aside_nav-logo h3,
.users .aside_nav .aside_nav-logo h3,
.media .aside_nav .aside_nav-logo h3,
.offering .aside_nav .aside_nav-logo h3,
.balance .aside_nav .aside_nav-logo h3,
.support .aside_nav .aside_nav-logo h3,
.profile_view .aside_nav .aside_nav-logo h3 {
  font-size: 28px;
  font-weight: 500;
  color: #fff;
  font-family: "DM Sans", sans-serif;
}

.manager_view .aside_nav .aside_nav-lsit,
.users .aside_nav .aside_nav-lsit,
.media .aside_nav .aside_nav-lsit,
.offering .aside_nav .aside_nav-lsit,
.balance .aside_nav .aside_nav-lsit,
.support .aside_nav .aside_nav-lsit,
.profile_view .aside_nav .aside_nav-lsit {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
  gap: 12px 0;
  max-width: 255px;
}

.manager_view .aside_nav .aside_nav-lsit a,
.users .aside_nav .aside_nav-lsit a,
.media .aside_nav .aside_nav-lsit a,
.offering .aside_nav .aside_nav-lsit a,
.balance .aside_nav .aside_nav-lsit a,
.support .aside_nav .aside_nav-lsit a,
.profile_view .aside_nav .aside_nav-lsit a {
  text-decoration: none;
}

.manager_view .aside_nav .aside_nav-lsit .list_item,
.users .aside_nav .aside_nav-lsit .list_item,
.media .aside_nav .aside_nav-lsit .list_item,
.offering .aside_nav .aside_nav-lsit .list_item,
.balance .aside_nav .aside_nav-lsit .list_item,
.support .aside_nav .aside_nav-lsit .list_item,
.profile_view .aside_nav .aside_nav-lsit .list_item {
  list-style-type: none;
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 0 10px;
  justify-content: center;
  color: #e1e1e1;
  transition: 0.3s all;
  font-family: "Public Sans", sans-serif;
}

.manager_view .aside_nav .aside_nav-lsit .list_item:active,
.users .aside_nav .aside_nav-lsit .list_item:active,
.media .aside_nav .aside_nav-lsit .list_item:active,
.offering .aside_nav .aside_nav-lsit .list_item:active,
.balance .aside_nav .aside_nav-lsit .list_item:active,
.support .aside_nav .aside_nav-lsit .list_item:active,
.profile_view .aside_nav .aside_nav-lsit .list_item:active {
  transform: scale(0.95);
}

.manager_view .aside_nav .aside_nav-lsit .active,
.users .aside_nav .aside_nav-lsit .active,
.media .aside_nav .aside_nav-lsit .active,
.offering .aside_nav .aside_nav-lsit .active,
.balance .aside_nav .aside_nav-lsit .active,
.support .aside_nav .aside_nav-lsit .active,
.profile_view .aside_nav .aside_nav-lsit .active {
  color: #302EFF;
}

.manager_view .main_block,
.users .main_block,
.media .main_block,
.offering .main_block,
.balance .main_block,
.support .main_block,
.profile_view .main_block {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.manager_view .main_block .header_nav,
.users .main_block .header_nav,
.media .main_block .header_nav,
.offering .main_block .header_nav,
.balance .main_block .header_nav,
.support .main_block .header_nav,
.profile_view .main_block .header_nav {
  display: flex;
  gap: 0 20px;
  margin: 20px 0 0 40px;
}

.manager_view .main_block .header_nav .header_nav-card,
.users .main_block .header_nav .header_nav-card,
.media .main_block .header_nav .header_nav-card,
.offering .main_block .header_nav .header_nav-card,
.balance .main_block .header_nav .header_nav-card,
.support .main_block .header_nav .header_nav-card,
.profile_view .main_block .header_nav .header_nav-card {
  width: clamp(180px, 100%, 375px);
  height: 108px;
  border-radius: 10px;
  background: #0e1218;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.manager_view .main_block .header_nav .header_nav-card span,
.users .main_block .header_nav .header_nav-card span,
.media .main_block .header_nav .header_nav-card span,
.offering .main_block .header_nav .header_nav-card span,
.balance .main_block .header_nav .header_nav-card span,
.support .main_block .header_nav .header_nav-card span,
.profile_view .main_block .header_nav .header_nav-card span {
  margin-left: 35px;
  font-size: 24px;
  color: #fff;
  font-family: "DM Sans", sans-serif;
}

.manager_view .main_block .header_nav .header_nav-card p,
.users .main_block .header_nav .header_nav-card p,
.media .main_block .header_nav .header_nav-card p,
.offering .main_block .header_nav .header_nav-card p,
.balance .main_block .header_nav .header_nav-card p,
.support .main_block .header_nav .header_nav-card p,
.profile_view .main_block .header_nav .header_nav-card p {
  margin-left: 26px;
  font-size: 32px;
  font-weight: 600;
  color: #fff;
  font-family: "DM Sans", sans-serif;
}

.manager_view .main_block .header_nav .header_nav-card:nth-child(1),
.users .main_block .header_nav .header_nav-card:nth-child(1),
.media .main_block .header_nav .header_nav-card:nth-child(1),
.offering .main_block .header_nav .header_nav-card:nth-child(1),
.balance .main_block .header_nav .header_nav-card:nth-child(1),
.support .main_block .header_nav .header_nav-card:nth-child(1),
.profile_view .main_block .header_nav .header_nav-card:nth-child(1) {
  border-bottom: 9px solid #423efc;
}

.manager_view .main_block .header_nav .header_nav-card:nth-child(2),
.users .main_block .header_nav .header_nav-card:nth-child(2),
.media .main_block .header_nav .header_nav-card:nth-child(2),
.offering .main_block .header_nav .header_nav-card:nth-child(2),
.balance .main_block .header_nav .header_nav-card:nth-child(2),
.support .main_block .header_nav .header_nav-card:nth-child(2),
.profile_view .main_block .header_nav .header_nav-card:nth-child(2) {
  border-bottom: 9px solid #f6d423;
}

.manager_view .main_block .header_nav .header_nav-card:nth-child(3),
.users .main_block .header_nav .header_nav-card:nth-child(3),
.media .main_block .header_nav .header_nav-card:nth-child(3),
.offering .main_block .header_nav .header_nav-card:nth-child(3),
.balance .main_block .header_nav .header_nav-card:nth-child(3),
.support .main_block .header_nav .header_nav-card:nth-child(3),
.profile_view .main_block .header_nav .header_nav-card:nth-child(3) {
  border-bottom: 9px solid #7c57f4;
}

.manager_view .main_block .header_nav .header_nav-card:nth-child(4),
.users .main_block .header_nav .header_nav-card:nth-child(4),
.media .main_block .header_nav .header_nav-card:nth-child(4),
.offering .main_block .header_nav .header_nav-card:nth-child(4),
.balance .main_block .header_nav .header_nav-card:nth-child(4),
.support .main_block .header_nav .header_nav-card:nth-child(4),
.profile_view .main_block .header_nav .header_nav-card:nth-child(4) {
  border-bottom: 9px solid #36393e;
}

.manager_view .main_block .user,
.users .main_block .user,
.media .main_block .user,
.offering .main_block .user,
.balance .main_block .user,
.support .main_block .user,
.profile_view .main_block .user {
  display: flex;
  margin: 40px 0 31px 40px;
  gap: 0 28px;
}

.manager_view .main_block .user .user_info,
.users .main_block .user .user_info,
.media .main_block .user .user_info,
.offering .main_block .user .user_info,
.balance .main_block .user .user_info,
.support .main_block .user .user_info,
.profile_view .main_block .user .user_info {
  background: #0e1218;
  max-width: 628px;
  border-radius: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.manager_view .main_block .user .user_info .user_info-list,
.users .main_block .user .user_info .user_info-list,
.media .main_block .user .user_info .user_info-list,
.offering .main_block .user .user_info .user_info-list,
.balance .main_block .user .user_info .user_info-list,
.support .main_block .user .user_info .user_info-list,
.profile_view .main_block .user .user_info .user_info-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px 0;
  padding: 45px 0 44px 30px;
}

.manager_view .main_block .user .user_info .user_info-list .list_item,
.users .main_block .user .user_info .user_info-list .list_item,
.media .main_block .user .user_info .user_info-list .list_item,
.offering .main_block .user .user_info .user_info-list .list_item,
.balance .main_block .user .user_info .user_info-list .list_item,
.support .main_block .user .user_info .user_info-list .list_item,
.profile_view .main_block .user .user_info .user_info-list .list_item {
  display: flex;
  align-items: center;
  color: #fff;
  gap: 0 26px;
}

.manager_view .main_block .user .user_info .user_info-list .list_item p,
.manager_view .main_block .user .user_info .user_info-list .list_item span,
.users .main_block .user .user_info .user_info-list .list_item p,
.users .main_block .user .user_info .user_info-list .list_item span,
.media .main_block .user .user_info .user_info-list .list_item p,
.media .main_block .user .user_info .user_info-list .list_item span,
.offering .main_block .user .user_info .user_info-list .list_item p,
.offering .main_block .user .user_info .user_info-list .list_item span,
.balance .main_block .user .user_info .user_info-list .list_item p,
.balance .main_block .user .user_info .user_info-list .list_item span,
.support .main_block .user .user_info .user_info-list .list_item p,
.support .main_block .user .user_info .user_info-list .list_item span,
.profile_view .main_block .user .user_info .user_info-list .list_item p,
.profile_view .main_block .user .user_info .user_info-list .list_item span {
  font-size: 24px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
}

.manager_view .main_block .user .user_info .user_avatar,
.users .main_block .user .user_info .user_avatar,
.media .main_block .user .user_info .user_avatar,
.offering .main_block .user .user_info .user_avatar,
.balance .main_block .user .user_info .user_avatar,
.support .main_block .user .user_info .user_avatar,
.profile_view .main_block .user .user_info .user_avatar {
  padding: 35px 0 0 70px;
  width: 138px;
  height: 138px;
}

.manager_view .main_block .user .user_info .user_btn,
.users .main_block .user .user_info .user_btn,
.media .main_block .user .user_info .user_btn,
.offering .main_block .user .user_info .user_btn,
.balance .main_block .user .user_info .user_btn,
.support .main_block .user .user_info .user_btn,
.profile_view .main_block .user .user_info .user_btn {
  display: flex;
  align-items: center;
  gap: 0 20px;
  padding: 0 0 52px 27px;
}

.manager_view .main_block .user .user_info .user_btn .btn_1,
.users .main_block .user .user_info .user_btn .btn_1,
.media .main_block .user .user_info .user_btn .btn_1,
.offering .main_block .user .user_info .user_btn .btn_1,
.balance .main_block .user .user_info .user_btn .btn_1,
.support .main_block .user .user_info .user_btn .btn_1,
.profile_view .main_block .user .user_info .user_btn .btn_1 {
  color: #fff;
  outline: none;
  border: 1px solid #302eff;
  background: #302eff;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 11px 20px;
  font-size: 16px;
  font-family: "Public Sans", sans-serif;
}

.manager_view .main_block .user .user_static,
.users .main_block .user .user_static,
.media .main_block .user .user_static,
.offering .main_block .user .user_static,
.balance .main_block .user .user_static,
.support .main_block .user .user_static,
.profile_view .main_block .user .user_static {
  background: #0e1218;
  border-radius: 20px;
  width: 907px;
  border-bottom: 10px solid #3334ff;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 44px 0;
}

.manager_view .main_block .user .user_static .list_static,
.users .main_block .user .user_static .list_static,
.media .main_block .user .user_static .list_static,
.offering .main_block .user .user_static .list_static,
.balance .main_block .user .user_static .list_static,
.support .main_block .user .user_static .list_static,
.profile_view .main_block .user .user_static .list_static {
  position: relative;
  color: #fff;
  width: 100%;
}

.manager_view .main_block .user .user_static .list_static p,
.users .main_block .user .user_static .list_static p,
.media .main_block .user .user_static .list_static p,
.offering .main_block .user .user_static .list_static p,
.balance .main_block .user .user_static .list_static p,
.support .main_block .user .user_static .list_static p,
.profile_view .main_block .user .user_static .list_static p {
  padding-left: 27px;
  font-family: "DM Sans", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: relative;
  z-index: 2;
}

.manager_view .main_block .user .user_static .list_static::before,
.users .main_block .user .user_static .list_static::before,
.media .main_block .user .user_static .list_static::before,
.offering .main_block .user .user_static .list_static::before,
.balance .main_block .user .user_static .list_static::before,
.support .main_block .user .user_static .list_static::before,
.profile_view .main_block .user .user_static .list_static::before {
  content: "";
  position: absolute;
  background: rgba(81, 80, 80, 0.5);
  height: 2px;
  top: 50%;
  width: 100%;
  z-index: 2;
}

.manager_view .main_block .user .user_static .list_static:nth-child(1),
.users .main_block .user .user_static .list_static:nth-child(1),
.media .main_block .user .user_static .list_static:nth-child(1),
.offering .main_block .user .user_static .list_static:nth-child(1),
.balance .main_block .user .user_static .list_static:nth-child(1),
.support .main_block .user .user_static .list_static:nth-child(1),
.profile_view .main_block .user .user_static .list_static:nth-child(1) {
  z-index: 1;
}

.manager_view .main_block .user .user_static .list_static:nth-child(1)::after,
.users .main_block .user .user_static .list_static:nth-child(1)::after,
.media .main_block .user .user_static .list_static:nth-child(1)::after,
.offering .main_block .user .user_static .list_static:nth-child(1)::after,
.balance .main_block .user .user_static .list_static:nth-child(1)::after,
.support .main_block .user .user_static .list_static:nth-child(1)::after,
.profile_view .main_block .user .user_static .list_static:nth-child(1)::after {
  content: "";
  position: absolute;
  background: linear-gradient(0.04deg, rgba(66, 62, 252, 0) 0.03%, #423efc 99.97%);
  width: 57%;
  top: -40%;
  height: 50px;
  z-index: 1;
}

.manager_view .main_block .user .user_static .list_static:nth-child(2),
.users .main_block .user .user_static .list_static:nth-child(2),
.media .main_block .user .user_static .list_static:nth-child(2),
.offering .main_block .user .user_static .list_static:nth-child(2),
.balance .main_block .user .user_static .list_static:nth-child(2),
.support .main_block .user .user_static .list_static:nth-child(2),
.profile_view .main_block .user .user_static .list_static:nth-child(2) {
  z-index: 1;
}

.manager_view .main_block .user .user_static .list_static:nth-child(2)::after,
.users .main_block .user .user_static .list_static:nth-child(2)::after,
.media .main_block .user .user_static .list_static:nth-child(2)::after,
.offering .main_block .user .user_static .list_static:nth-child(2)::after,
.balance .main_block .user .user_static .list_static:nth-child(2)::after,
.support .main_block .user .user_static .list_static:nth-child(2)::after,
.profile_view .main_block .user .user_static .list_static:nth-child(2)::after {
  content: "";
  position: absolute;
  background: linear-gradient(0deg, rgba(246, 212, 35, 0) 0%, #f6d423 100%);
  width: 83%;
  top: -40%;
  height: 50px;
  z-index: 1;
}

.manager_view .main_block .user .user_static .list_static:nth-child(3),
.users .main_block .user .user_static .list_static:nth-child(3),
.media .main_block .user .user_static .list_static:nth-child(3),
.offering .main_block .user .user_static .list_static:nth-child(3),
.balance .main_block .user .user_static .list_static:nth-child(3),
.support .main_block .user .user_static .list_static:nth-child(3),
.profile_view .main_block .user .user_static .list_static:nth-child(3) {
  z-index: 1;
}

.manager_view .main_block .user .user_static .list_static:nth-child(3)::after,
.users .main_block .user .user_static .list_static:nth-child(3)::after,
.media .main_block .user .user_static .list_static:nth-child(3)::after,
.offering .main_block .user .user_static .list_static:nth-child(3)::after,
.balance .main_block .user .user_static .list_static:nth-child(3)::after,
.support .main_block .user .user_static .list_static:nth-child(3)::after,
.profile_view .main_block .user .user_static .list_static:nth-child(3)::after {
  content: "";
  position: absolute;
  background: linear-gradient(359.99deg, rgba(125, 88, 246, 0) 0.01%, #7d58f6 99.99%);
  width: 63%;
  top: -40%;
  height: 50px;
  z-index: 1;
}

.manager_view .main_block .user .user_static .list_static:nth-child(4),
.users .main_block .user .user_static .list_static:nth-child(4),
.media .main_block .user .user_static .list_static:nth-child(4),
.offering .main_block .user .user_static .list_static:nth-child(4),
.balance .main_block .user .user_static .list_static:nth-child(4),
.support .main_block .user .user_static .list_static:nth-child(4),
.profile_view .main_block .user .user_static .list_static:nth-child(4) {
  z-index: 1;
}

.manager_view .main_block .user .user_static .list_static:nth-child(4)::after,
.users .main_block .user .user_static .list_static:nth-child(4)::after,
.media .main_block .user .user_static .list_static:nth-child(4)::after,
.offering .main_block .user .user_static .list_static:nth-child(4)::after,
.balance .main_block .user .user_static .list_static:nth-child(4)::after,
.support .main_block .user .user_static .list_static:nth-child(4)::after,
.profile_view .main_block .user .user_static .list_static:nth-child(4)::after {
  content: "";
  position: absolute;
  background: linear-gradient(359.96deg, rgba(54, 57, 61, 0) 0.04%, #36393d 99.96%);
  width: 41%;
  top: -40%;
  height: 50px;
  z-index: 1;
}

.manager_view .main_block .users_list,
.users .main_block .users_list,
.media .main_block .users_list,
.offering .main_block .users_list,
.balance .main_block .users_list,
.support .main_block .users_list,
.profile_view .main_block .users_list {
  background: #181a1e;
  border-radius: 20px;
  margin: 0 20px 0 42px;
}

.manager_view .main_block .users_list .users_list-head,
.users .main_block .users_list .users_list-head,
.media .main_block .users_list .users_list-head,
.offering .main_block .users_list .users_list-head,
.balance .main_block .users_list .users_list-head,
.support .main_block .users_list .users_list-head,
.profile_view .main_block .users_list .users_list-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #0e1218;
  border-radius: 20px 20px 0px 0px;
  padding: 20px 20px 20px 20px;
  color: #ffff;
}

.manager_view .main_block .users_list .users_list-head .two_item,
.users .main_block .users_list .users_list-head .two_item,
.media .main_block .users_list .users_list-head .two_item,
.offering .main_block .users_list .users_list-head .two_item,
.balance .main_block .users_list .users_list-head .two_item,
.support .main_block .users_list .users_list-head .two_item,
.profile_view .main_block .users_list .users_list-head .two_item {
  display: flex;
  align-items: center;
  gap: 0 145px;
}

.manager_view .main_block .users_list .users_list-head .list-head-other,
.users .main_block .users_list .users_list-head .list-head-other,
.media .main_block .users_list .users_list-head .list-head-other,
.offering .main_block .users_list .users_list-head .list-head-other,
.balance .main_block .users_list .users_list-head .list-head-other,
.support .main_block .users_list .users_list-head .list-head-other,
.profile_view .main_block .users_list .users_list-head .list-head-other {
  display: flex;
  align-items: center;
  gap: 0 64px;
}

.manager_view .main_block .users_list .users_list-head .list-head-other .other_item,
.users .main_block .users_list .users_list-head .list-head-other .other_item,
.media .main_block .users_list .users_list-head .list-head-other .other_item,
.offering .main_block .users_list .users_list-head .list-head-other .other_item,
.balance .main_block .users_list .users_list-head .list-head-other .other_item,
.support .main_block .users_list .users_list-head .list-head-other .other_item,
.profile_view .main_block .users_list .users_list-head .list-head-other .other_item {
  display: flex;
  align-items: center;
  gap: 0 10px;
}

.manager_view .main_block .users_list .users_list-head .item,
.users .main_block .users_list .users_list-head .item,
.media .main_block .users_list .users_list-head .item,
.offering .main_block .users_list .users_list-head .item,
.balance .main_block .users_list .users_list-head .item,
.support .main_block .users_list .users_list-head .item,
.profile_view .main_block .users_list .users_list-head .item {
  display: flex;
  align-items: center;
  gap: 0 10px;
}

.manager_view .main_block .users_list .users_list-head P,
.users .main_block .users_list .users_list-head P,
.media .main_block .users_list .users_list-head P,
.offering .main_block .users_list .users_list-head P,
.balance .main_block .users_list .users_list-head P,
.support .main_block .users_list .users_list-head P,
.profile_view .main_block .users_list .users_list-head P {
  font-size: 20px;
  font-family: "Public Sans", sans-serif;
}

.manager_view .main_block .users_list .list,
.users .main_block .users_list .list,
.media .main_block .users_list .list,
.offering .main_block .users_list .list,
.balance .main_block .users_list .list,
.support .main_block .users_list .list,
.profile_view .main_block .users_list .list {
  display: flex;
  flex-direction: column;
}

.manager_view .main_block .users_list .list .list_item,
.users .main_block .users_list .list .list_item,
.media .main_block .users_list .list .list_item,
.offering .main_block .users_list .list .list_item,
.balance .main_block .users_list .list .list_item,
.support .main_block .users_list .list .list_item,
.profile_view .main_block .users_list .list .list_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 16px 20px 30px;
  color: #ffff;
}

.manager_view .main_block .users_list .list .list_item .two_item,
.users .main_block .users_list .list .list_item .two_item,
.media .main_block .users_list .list .list_item .two_item,
.offering .main_block .users_list .list .list_item .two_item,
.balance .main_block .users_list .list .list_item .two_item,
.support .main_block .users_list .list .list_item .two_item,
.profile_view .main_block .users_list .list .list_item .two_item {
  display: flex;
  align-items: center;
  gap: 0 115px;
}

.manager_view .main_block .users_list .list .list_item .list_item-other,
.users .main_block .users_list .list .list_item .list_item-other,
.media .main_block .users_list .list .list_item .list_item-other,
.offering .main_block .users_list .list .list_item .list_item-other,
.balance .main_block .users_list .list .list_item .list_item-other,
.support .main_block .users_list .list .list_item .list_item-other,
.profile_view .main_block .users_list .list .list_item .list_item-other {
  display: flex;
  align-items: center;
  gap: 0 120px;
}

.manager_view .main_block .users_list .list .list_item .list_item-other .list-other-status,
.users .main_block .users_list .list .list_item .list_item-other .list-other-status,
.media .main_block .users_list .list .list_item .list_item-other .list-other-status,
.offering .main_block .users_list .list .list_item .list_item-other .list-other-status,
.balance .main_block .users_list .list .list_item .list_item-other .list-other-status,
.support .main_block .users_list .list .list_item .list_item-other .list-other-status,
.profile_view .main_block .users_list .list .list_item .list_item-other .list-other-status {
  display: flex;
  align-items: center;
  gap: 0 26px;
}

.manager_view .main_block .users_list .list .list_item .list_item-email,
.users .main_block .users_list .list .list_item .list_item-email,
.media .main_block .users_list .list .list_item .list_item-email,
.offering .main_block .users_list .list .list_item .list_item-email,
.balance .main_block .users_list .list .list_item .list_item-email,
.support .main_block .users_list .list .list_item .list_item-email,
.profile_view .main_block .users_list .list .list_item .list_item-email {
  margin-left: -100px;
}

.manager_view .main_block .users_list .list .list_item .list_item-uid,
.users .main_block .users_list .list .list_item .list_item-uid,
.media .main_block .users_list .list .list_item .list_item-uid,
.offering .main_block .users_list .list .list_item .list_item-uid,
.balance .main_block .users_list .list .list_item .list_item-uid,
.support .main_block .users_list .list .list_item .list_item-uid,
.profile_view .main_block .users_list .list .list_item .list_item-uid {
  display: flex;
  align-items: center;
  gap: 0 20px;
}

.manager_view .main_block .users_list .list .list_item P,
.users .main_block .users_list .list .list_item P,
.media .main_block .users_list .list .list_item P,
.offering .main_block .users_list .list .list_item P,
.balance .main_block .users_list .list .list_item P,
.support .main_block .users_list .list .list_item P,
.profile_view .main_block .users_list .list .list_item P {
  font-size: 20px;
  font-family: "Public Sans", sans-serif;
}
