@font-face {
    font-family: "DM Sans", sans-serif;
    src: url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
    font-style: normal;
}
@font-face {
    font-family: "Public Sans", sans-serif;
    src: url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

    font-style: normal;
}

.offering {
    .main_block {
        .offering_head {
            display: flex;
            align-items: center;
            justify-content: space-between;

            margin-top: 60px;
            margin-left: 47px;
            .offering_aded {
                .offering_aded {
                    background: #0e1218;

                    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
                    outline: none;
                    border: none;
                    border-radius: 20px;
                    font-size: 16px;
                    color: #fff;
                    padding: 15px 20px 15px 20px;
                    cursor: pointer;
                    font-size: 28px;
                }
            }
            .offering_btn {
                display: flex;
                align-items: center;
                gap: 0 20px;
                .offering_add {
                    background: #302eff;

                    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
                    outline: none;
                    border: none;
                    color: #fff;
                    padding: 15px 20px 15px 20px;
                    border-radius: 20px;
                    cursor: pointer;
                    text-align: center;
                    font-size: 16px;
                }
                .offering_search {
                    display: flex;
                    align-items: center;
                    justify-content: start;
                    gap: 0 5px;
                    background: #0e1218;
                    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
                    outline: none;
                    border: none;
                    border-radius: 20px;
                    font-size: 16px;
                    color: #fff;
                    padding: 15px 50px 15px 50px;
                    cursor: pointer;
                }
            }
        }
        .offering_list-head {
            display: flex;
            background: #0e1218;
            border-radius: 20px;
            padding: 30px 50px 30px 20px;
            align-items: center;
            justify-content: space-between;
            margin: 30px 0 0 42px;
            .list-head-other {
                display: flex;
                align-items: center;
                gap: 0 75px;
                color: #fff;
                font-size: 20px;
                .other_item {
                    display: flex;
                    align-items: center;
                    & img {
                        margin-left: 15px;
                    }
                }
            }
            .item {
                display: flex;
                align-items: center;
                font-size: 20px;
                color: #fff;
                & img {
                    margin-left: 15px;
                }
            }
            .second_item {
                gap: 0 130px;
            }
            .second_items {
                gap: 0 75px;
            }
        }
        .offering_list {
            display: flex;
            flex-direction: column;
            margin: 30px 0 0 42px;
            .active {
                color: #302eff !important;
            }
            .offering_list-item {
                display: flex;
                align-items: center;
                background: #191b1f;
                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
                border-radius: 20px;
                margin: 8px 0;
                height: 56px;
                justify-content: space-between;

                padding: 0 36px 0 27px;

                & P {
                    font-size: 20px !important;
                    font-family: "Public Sans", sans-serif;
                    color: #fff;

                }
                .list-head-other {
                    display: flex;
                    align-items: center;
                    gap: 0 75px;
                    font-size: 20px;
                    .select {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        text-align: center;
                        padding: 0 12px;
                        background: #302eff;
                        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
                        color: #fff;
                        border-radius: 20px;
                        height: 39px;
                    }
                }
                .two_items {
                    display: flex;
                    align-items: center;
                    gap: 0 100px;
                    & span {
                        font-size: 10px;
                    }
                    & p {
                        font-size: 16px;
                    }
                }
                .link {
                    & p {
                        font-size: 20px;
                    }
                }
                .item {
                    display: flex;
                    align-items: center;
                    font-size: 20px;
                }
                .second_item {
                    gap: 0 130px;
                }
                .second_items {
                    gap: 0 75px;
                }
            }
        }
    }
}
