* {
    margin: 0;
}
body {
}
// profile page
.profile_view {
    height: 100%;
    display: flex;
    .aside_nav {
        background: linear-gradient(180deg, #70a9ff 0%, #316ec9 57%, #0149b4 100%);
        width: 100%;
        max-width: 295px;
        padding-top: 20px;
        .aside_nav-logo {
            display: flex;
            gap: 0 10px;
            align-items: center;
            background: rgba(254, 249, 243, 1);
            box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
            border-radius: 20px;
            padding: 15px 20px 15px 20px;
            margin: 0 20px 38px 20px;
            & h3 {
                font-size: 28px;
                font-weight: 500;
            }
        }
        .aside_nav-lsit {
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            gap: 12px 0;
            max-width: 255px;
            a {
                text-decoration: none;
            }
            .list_item {
                list-style-type: none;
                padding: 20px;
                display: flex;
                align-items: center;
                gap: 0 10px;
                justify-content: center;
                border-radius: 20px;
                background: rgba(18, 72, 151, 1);
                box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
                color: #fff;
                transition: 0.3s all;
                &:hover {
                    background: rgba(9, 33, 69, 1);
                    cursor: pointer;
                }
                &:active {
                    transform: scale(0.95);
                }
            }
            .active {
                background: rgba(9, 33, 69, 1);
            }
        }
    }
    .main_block {
        display: flex;
        flex-direction: column;
        .header_nav {
            display: flex;
            gap: 0 20px;
            margin: 20px 0 0 40px;
            .header_nav-card {
                width: 375px;
                height: 108px;
                border-radius: 10px;
                background: rgba(241, 244, 255, 1);
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                & span {
                    margin-left: 35px;
                    font-size: 24px;
                    color: rgba(67, 67, 67, 1);
                }
                & p {
                    margin-left: 26px;
                    font-size: 32px;
                    font-weight: 600;
                }
                &:nth-child(1) {
                    border-bottom: 9px solid rgba(255, 0, 0, 1);
                }
                &:nth-child(2) {
                    border-bottom: 9px solid rgba(255, 214, 0, 1);
                }
                &:nth-child(3) {
                    border-bottom: 9px solid rgba(15, 182, 0, 1);
                }
                &:nth-child(4) {
                    border-bottom: 9px solid rgba(158, 0, 255, 1);
                }
            }
        }
        .user_info {
            margin-top: 30px;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 0 140px;

            .user_info-avatar {
                display: flex;
                flex-direction: column;
                gap: 13px 0;
                .user_btn {
                    display: flex;
                    gap: 0 10px;
                    align-self: flex-end;
                    margin-left: 42px;
                    .btn_exit {
                        background: rgba(241, 244, 255, 1);
                        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
                        outline: none;
                        border: none;
                        border-radius: 20px;
                        font-size: 16px;
                        color: rgba(67, 67, 67, 1);
                        padding: 15px 50px 15px 50px;
                        cursor: pointer;
                    }
                    .btn_delete {
                        background: rgba(46, 101, 243, 1);
                        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
                        outline: none;
                        border: none;
                        color: #fff;
                        padding: 15px 50px 15px 50px;
                        border-radius: 20px;
                        cursor: pointer;
                        font-size: 16px;
                    }
                }
                & img {
                    max-width: 282px;
                    max-height: 272px;
                }
            }
            .user_info-list {
                display: flex;
                flex-direction: column;
                gap: 20px 0;
                margin-left: 200px;
                .list_item {
                    display: flex;
                    align-items: center;
                    gap: 0 63px;
                    & p {
                        color: rgba(67, 67, 67, 1);
                        font-size: 20px;
                    }
                    & span {
                        color: rgba(42, 87, 139, 1);
                        font-size: 20px;
                    }
                }
                .change_btn {
                    display: flex;
                    gap: 0 20px;
                    .btn_edit {
                        background: rgba(46, 101, 243, 1);
                        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
                        outline: none;
                        border: none;
                        color: #fff;
                        padding: 15px 20px 15px 20px;
                        border-radius: 20px;
                        cursor: pointer;
                        font-size: 16px;
                    }
                    .btn_save {
                        background: rgba(241, 244, 255, 1);
                        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
                        outline: none;
                        border: none;
                        border-radius: 20px;
                        font-size: 16px;
                        color: rgba(67, 67, 67, 1);
                        padding: 15px 50px 15px 50px;
                        cursor: pointer;
                    }
                }
            }
        }
        .channel {
            max-width: 1200px;
            margin: 0 auto;
            width: 100%;
            .channel_head {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                margin-top: 70px;
                .channel_aded {
                    .channel_aded {
                        background: rgba(241, 244, 255, 1);
                        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
                        outline: none;
                        border: none;
                        border-radius: 20px;
                        font-size: 16px;
                        color: rgba(67, 67, 67, 1);
                        padding: 15px 20px 15px 20px;
                        cursor: pointer;
                        font-size: 28px;
                    }
                }
                .channel_btn {
                    display: flex;
                    align-items: center;
                    gap: 0 20px;
                    .channel_add {
                        background: rgba(46, 101, 243, 1);
                        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
                        outline: none;
                        border: none;
                        color: #fff;
                        padding: 15px 20px 15px 20px;
                        border-radius: 20px;
                        cursor: pointer;
                        text-align: center;
                        font-size: 16px;
                    }
                    .channel_search {
                        display: flex;
                        align-items: center;
                        justify-content: start;
                        gap: 0 5px;
                        background: rgba(241, 244, 255, 1);
                        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
                        outline: none;
                        border: none;
                        border-radius: 20px;
                        font-size: 16px;
                        color: rgba(67, 67, 67, 1);
                        padding: 15px 50px 15px 50px;
                        cursor: pointer;
                    }
                }
            }
            .channel_list {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                margin-top: 35px;
                .channel_list-head {
                    display: flex;
                    justify-content: space-between;

                    background: linear-gradient(180deg, #70a9ff 0%, #0149b4 100%, #316ec9 100%);
                    border-radius: 20px;
                    padding: 30px 100px 30px 20px;
                    .list-head-items {
                        display: flex;
                        align-items: center;
                        gap: 0 50px;
                        margin-right: 120px;
                    }
                    .item {
                        display: flex;
                        align-items: center;
                        gap: 0 10px;
                        color: #fff;
                        & p {
                            font-size: 20px;
                        }
                    }
                    .list-head_items {
                        display: flex;
                        gap: 0 45px;
                        .item {
                            display: flex;
                            align-items: center;
                            gap: 0 10px;
                            color: #fff;
                            & p {
                                font-size: 20px;
                            }
                        }
                    }
                    .list-head-other {
                        display: flex;
                        align-items: center;
                        gap: 0 50px;
                        .other_item {
                            display: flex;
                            align-items: center;
                            gap: 0 10px;
                            color: #fff;
                            & p {
                                font-size: 20px;
                            }
                        }
                    }
                }
                .active {
                    background: linear-gradient(180deg, #6da6fd 0%, #084fb9 100%) !important;
                    color: #fff;
                }
                .channel_list-item {
                    display: flex;
                    align-items: center;
                    background: rgba(241, 244, 255, 1);
                    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
                    border-radius: 20px;
                    margin: 8px 0;
                    justify-content: space-between;
                    height: 56px;
                    padding: 0 34px 0 16px;
                    .list-head-other {
                        display: flex;
                        align-items: center;
                        gap: 0 95px;
                        margin-right: 90px;
                        .link {
                            & p {
                                font-size: 20px !important;
                            }
                        }
                        & p {
                            font-size: 16px;
                        }
                    }

                    .two_items {
                        display: flex;
                        align-items: center;
                        gap: 0 45px;
                        & span {
                            font-size: 10px;
                        }
                        & p {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }

    .user_background {
        background: url(../img/profile_background.png);
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: absolute;
        top: 0;
        max-width: 950px;
        z-index: -1;
        max-height: 525px;
        right: 0;
    }
}
